{% extends 'base.html' %}
{% load static %}
{% block title %}
Forms
{% endblock %}

{% block content %}
    <div class="wrapper">
            <h1>Planer</h1>

            <form method="post">
                {% csrf_token %}
              
                {{ form.title }}<br>
                {{ form.description }}<br>
                {{ form.text }}
<!-- 
                <input type="text" placeholder="Название планера" class="form-control"><br>
                <input type="text" placeholder="Описание" class="form-control"><br>
                <textarea class="form-control" placeholder="Коменатрии"></textarea>
                <input type="date" class="form-control"><br>
                <input type="time" class="form-control"><br> -->
                
                <button class="btn btn-success" type="submit">Add Planer</button>
            </form>
        </div>
    </div>
{% endblock %}